@foreach (var tag in this.Tags)
{
    <MudChip class="">@tag</MudChip>
}

<form onsubmit="return false;" class="d-inline">
    <div class="mud-input my-1">
        <input @bind="NewTagName" 
               @bind:event="oninput"
            class="mud-input-slot mud-input-root"
            placeholder="Tag name"        
            @onkeydown="@OnKeyUp">
    </div>
</form>

@code {

    public string NewTagName { get; set; } = string.Empty;

    private void OnKeyUp(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Code == "Enter")
            this.AddAdornment();
        else if (eventArgs.Code == "Backspace")
            this.RemoveLastTag();
    }
    private void AddAdornment()
    {
        if (string.IsNullOrWhiteSpace(this.NewTagName))
            return;

        this.Tags.Add(this.NewTagName.Trim());
        this.NewTagName = string.Empty;
    }

    private void RemoveLastTag()
    {
        if (string.IsNullOrEmpty(this.NewTagName) is false)
            return;        

        if (this.Tags.Any())
        {
            var lastTag = this.Tags.Last();
            this.Tags.RemoveAt(this.Tags.Count - 1);

            this.NewTagName = lastTag;
        }
    }

    public List<string> Tags { get; set; } = new();

    public TagList()
    {
        this.Tags.Add("Hallo");
        this.Tags.Add("Welt");
    }
}
